{{>layout/header}}
    <div id="page" class="site">
        <div class="header-wrapper">
            <div class='header  color-overlay' style='background-image:url(&quot;./images/hallym.jpg&quot;);'
                data-parallax-depth='20'>
                <div class="inner-header-description gridContainer">
                    <div class="row header-description-row">
                        <h1 class="heading8"> 멘토링실 데모영상 </h1>
                        <p class="header-subtitle">Engineering College Study Room Monitoring System</p>
                    </div>
                </div>
                <div class="header-separator header-separator-bottom"><svg xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 1000 100" preserveaspectratio="none">
                        <path class="svg-white-bg" d="M737.9,94.7L0,0v100h1000V0L737.9,94.7z" />
                    </svg></div>
            </div>
        </div>
        <style>
            video{
                margin-left:180px;
            }
        </style>
        <div id="page-content" class="page-content">
            <div class="gridContainer">
                <div id="post-56" class="post-56 page type-page status-publish hentry">
                    <div>
                        <p class="has-text-align-center"><strong>멘토링실 데모영상 입니다.</strong></p>
                        <p></p>
                        <video width="850" controls poster="http://placehold.it/640*360">
                            <source src="./videos/mentoring_demo.mp4" type="video/mp4"/>
                        </video>
                    </div>
                </div>
            </div>
        </div>
{{>layout/footer}}