{{>layout/header}}
    <div id="page" class="site">
        <div class="header-wrapper">
            <div class='header  color-overlay' style='background-image:url(&quot;./images/hallym.jpg&quot;);'
                data-parallax-depth='20'>
                <div class="inner-header-description gridContainer">
                    <div class="row header-description-row">
                        <h1 class="heading8"> Project Details </h1>
                        <p class="header-subtitle">Engineering College Study Room Monitoring System</p>
                    </div>
                </div>
                <div class="header-separator header-separator-bottom"><svg xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 1000 100" preserveaspectratio="none">
                        <path class="svg-white-bg" d="M737.9,94.7L0,0v100h1000V0L737.9,94.7z" />
                    </svg></div>
            </div>
        </div>
        <div id="page-content" class="page-content">
            <div class="gridContainer">
                <div id="post-10" class="post-10 page type-page status-publish hentry">
                    <div>
                        <p class="has-text-align-center"><strong>각자 프로젝트에서 맡은 업무</strong></p>
                        <p></p>
                        <p><strong>김지환의 담당업무 : 백엔드</strong> </p>
                        <ul>
                            <li>Java 11.0.16</li>
                            <li>Spring boot 2.6.14<ul>
                                    <li>Spring Data JPA</li>
                                    <li>mustache</li>
                                    <li>Spring-web</li>
                                    <li>Lombok</li>
                                    <li>MySQL Driver</li>
                                </ul>
                            </li>
                            <li>IntelliJ IDEA Community Edition 2022.2.1</li>
                            <li>MySQL Database에 축적된 데이터를 이용한다. 일정 시간 내 사람이 존재한다고 인식한 데이터를 Web 화면으로 출력</li>
                            <li>JPA로 dto를 사용하여 원하는 데이터를 Database와 통신</li>
                        </ul>
                        <p></p>
                        <p><strong>권혁돈의 담당업무 : 수신기 개발담당</strong></p>
                        <ul>
                            <li>라즈베리파이를 이용한 BLE 비콘 신호 스캔</li>
                            <li>BLE 스캔 코드 및 DB전송 코드 구현<ul>
                                    <li>Stack</li>
                                    <li>Raspberry 4</li>
                                    <li>Python</li>
                                    <li>MySQL</li>
                                    <li>Raspbian OS</li>
                                </ul>
                            </li>
                        </ul>
                        <p></p>
                        <p><strong>박민우의 담당업무 : 프론트엔드</strong></p>
                        <ul>
                            <li>Word Press를 이용한 웹페이지 제작</li>
                            <li>VsCode를 이용한 웹페이지 디자인<ul>
                                    <li>Html, Css</li>
                                    <li>VsCode</li>
                                    <li>Word Press</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{{>layout/footer}}