{{>layout/header}}
    </div>
    <div id="page" class="site">
        <div class="header-wrapper">
            <div class='header  color-overlay' style='background-image:url(&quot;./images/hallym.jpg&quot;);'
                data-parallax-depth='20'>
                <div class="inner-header-description gridContainer">
                    <div class="row header-description-row">
                        <h1 class="heading8"> Who Makes </h1>
                        <p class="header-subtitle">Engineering College Study Room Monitoring System</p>
                    </div>
                </div>
                <div class="header-separator header-separator-bottom"><svg xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 1000 100" preserveaspectratio="none">
                        <path class="svg-white-bg" d="M737.9,94.7L0,0v100h1000V0L737.9,94.7z" />
                    </svg></div>
            </div>
        </div>
        <div id="page-content" class="page-content">
            <div class="gridContainer">
                <div id="post-72" class="post-72 page type-page status-publish hentry">
                    <div>
                        <div class="wp-block-media-text alignwide is-stacked-on-mobile"
                            style="grid-template-columns:22% auto">
                            <figure class="wp-block-media-text__media"><img width="748" height="940"
                                    src="./images/kim.jpg" alt=""
                                    class="wp-image-96 size-full"
                                    srcset="./images/kim.jpg 748w, ./images/kim.jpg 239w"
                                    sizes="(max-width: 748px) 100vw, 748px" /></figure>
                            <div class="wp-block-media-text__content">
                                <p><strong>한림대학교 18학번 김지환<br>instagram: instagram.com/kji._.hawn<br>github :
                                        https://github.com/mongtons<br>email :mongtons990213@gmail.com</strong></p>
                                <p></p>
                            </div>
                        </div>
                        <div class="wp-block-media-text alignwide is-stacked-on-mobile"
                            style="grid-template-columns:22% auto">
                            <figure class="wp-block-media-text__media"><img loading="lazy" width="768" height="1024"
                                    src="./images/park.jpg" alt=""
                                    class="wp-image-98 size-full"
                                    srcset="./images/park.jpg 768w, ./images/park.jpg 225w, ./images/park.jpg 1024w, ./images/park.jpg 810w, ./images/park.jpg 1080w"
                                    sizes="(max-width: 768px) 100vw, 768px" /></figure>
                            <div class="wp-block-media-text__content">
                                <p><strong>한림대학교 18학번 박민우<br>instagram : instagram.com/minu_att<br>github :
                                        https://github.com/minuatt<br>email : minwoo9676@gmail.com</strong></p>
                            </div>
                        </div>
                        <div class="wp-block-media-text alignwide is-stacked-on-mobile"
                            style="grid-template-columns:22% auto">
                            <figure class="wp-block-media-text__media"><img loading="lazy" width="768" height="1024"
                                    src="./images/kwon.jpg" alt=""
                                    class="wp-image-115 size-full"
                                    srcset="./images/kwon.jpg 768w, ./images/kwon.jpg 225w, ./images/kwon.jpg 803w"
                                    sizes="(max-width: 768px) 100vw, 768px" /></figure>
                            <div class="wp-block-media-text__content">
                                <p><strong>한림대학교 18학번 권혁돈<br>instagram : instagram.com/dondon_962<br>github :
                                        https://github.com/KwonDon<br>email : qaz1086@hallym.ac.kr</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{>layout/footer}}